<?xml version="1.0"?>
<robot name="Sealer_Robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Materials -->

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <material name="aluminum">
    <color rgba="0.6 0.6 0.6 1"/>
  </material>

  <!-- OT2 -->
  <xacro:include filename="$(find ot2_description)/urdf/OT2.urdf.xacro" />
  <xacro:OT2 prefix="ot2/"/>
  

</robot>
